:root {  
    /* COLORS */  
    --white: #e9e9e9;  
    --gray: #333;  
    --blue: #0367a6;  
    --lightblue: #008997;  
    /* RADII */  
    --button-radius: 0.7rem;  
    /* SIZES */  
    --max-width: 758px;  
    --max-height: 420px;  
    font-size: 16px;  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,  
         Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  
}  
body {  
    align-items: center;  
    background-color: var(--white);  
    background: url("images/login_bg.jpg");  
    background-attachment: fixed;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;  
    display: grid;  
    height: 100vh;  
    place-items: center;
    background: #9DCF94;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);   
}  
.form__title {  
    font-weight: 300;  
    margin: 0;  
    margin-bottom: 1.25rem;  
}  
.link {  
    color: var(--blue);  
    font-size: 0.9rem;  
    margin: 0;  
    margin-left: 0.5rem;
    text-decoration: underline;  
}  
.container {  
    background-color: var(--white);  
    border-radius: var(--button-radius);  
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),  
         0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);  
    height: var(--max-height);  
    max-width: var(--max-width);  
    overflow: hidden;  
    position: relative;  
    width: 100%;  
}  
.container__form {  
    height: 100%;  
    position: absolute;  
    top: 0;  
    transition: all 0.6s ease-in-out;  
}  
.container.right-panel-active .container--signin {  
    transform: translateX(100%);  
}  
.container--signup {  
    left: 0;  
    opacity: 0;  
    width: 50%;  
    z-index: 1;  
}  
.container.right-panel-active .container--signup {  
    animation: show 0.6s;  
    opacity: 1;  
    transform: translateX(100%);  
    z-index: 5;  
}  
.container__overlay {  
    height: 100%;  
    left: 50%;  
    overflow: hidden;  
    position: absolute;  
    top: 0;  
    transition: transform 0.6s ease-in-out;  
    width: 50%;  
    z-index: 100;  
}  
.container.right-panel-active .container__overlay {  
    transform: translateX(-100%);  
}  
.formBackground {  
    background-color: var(--lightblue);  
    background: url("../static/images/pohon.png");  
    background-attachment: fixed;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;  
    height: 100%;  
    left: 2%;  
    top: -5%;
    position: relative;  
    transform: translateX(0);  
    transition: transform 0.6s ease-in-out;  
    width: 100%;  
}  
.btn {  
    background-color: var(--blue);  
    background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);  
    border-radius: 20px;  
    border: 1px solid var(--blue);  
    color: var(--white);  
    cursor: pointer;  
    font-size: 0.8rem;  
    font-weight: bold;  
    letter-spacing: 0.1rem;  
    padding: 0.9rem 4rem;  
    text-transform: uppercase;  
    transition: transform 80ms ease-in;  
}  
.form > .btn {  
    margin-top: 1.5rem;  
}  
.btn:active {  
    transform: scale(0.95);  
}  
.btn:focus {  
    outline: none;  
}  
.form {  
    background-color: var(--white);  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-direction: column;  
    padding: 0 3rem;  
    height: 100%;  
    text-align: center;  
}  
.input {  
    background-color: #fff;  
    border: none;  
    border-radius: 10px;
    padding: 0.9rem 0.9rem;  
    margin: 0.5rem 0;  
    width: 100%;  
}  

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9DCF94;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
}
