<footer>
    <div class="content p-3">
        <div class="top">
            <div class="logo-details col-4">
                <span class="logo_name">Logo</span>
            </div>
            <div class="text-center col-4">
                @2022 Copyright pohonlink.id. All Rights Deserved.
            </div>
            <div class="media-icons col-4">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>