* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#desain {
    width: auto;
    /*ukuran dari layout web yang akan digunakan*/
    margin: auto;
    overflow: hidden;
    padding-top: 80px;
}

body {
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

h5 {
    text-align: center;
    font-weight: bold;
    font-size: 38px;

}

h4 {
    font-weight: bold;
}

.container {
    height: 150vh
}

/*untuk buat card dan containernya*/
.card {
    width: 500px;
    padding: 30px;
    border: none
}

.notify-text {
    font-size: 14px
}

.buttons {
    font-size: 12px;
    height: 32px
}

.form-check-label {
    font-size: 14px
}

.accounts {
    font-size: 14px
}

.outline {
    border: 1px solid #e3eae6;
    border-radius: 5px;
    background: #f4fcf8;
    margin-top: 10px
}

.image-size {
    font-size: 15px;
    color: #9c9c9c;
    margin-top: 7px
}

.form-control {
    border-bottom: 1px solid #eee !important;
    border: none;
    font-weight: 500;
    padding: .375rem .15rem
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
    padding: .375rem .15rem;
    padding-bottom: 1px;
    border-bottom: 1px solid blue !important
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}


.inputbox span {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 13px;
    transition: 0.5s
}

textarea {
    resize: none
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3F51B5
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus~span {
    transform: translateX(-4px) translateY(-13px);
    font-size: 10px
}

.inputbox input:valid~span {
    transform: translateX(-4px) translateY(-13px);
    font-size: 10px
}

/*buat footer*/
footer {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 40px 0px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*footer logo kecil dibawah*/
.content .top .logo-details {
    color: #000;
    font-size: 30px;
}

.content .top .logo-details:hover {
    color: #fff;
    cursor: pointer;
}

.content .top .media-icons {
    display: flex;
    padding-left: 10%;
    margin-left: 10%;
}

.content .top .media-icons a {
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

/*ini untuk icon seperti google*/
.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

/*end of icon*/

/*Profile Pic Start*/
.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 150px;
    height: 150px;
    background-color: gray;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: limegreen;
}

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    aspect-ratio: 1;
    object-fit: cover;
    /* Do not scale the image */
    object-position: center center;
    /* Center the image within the element */
    width: 100%;

}

/*Profile Pic End*/