body{
    padding-top: 70px;
}

.thumbnail {
    overflow: hidden;
    position: relative;
}

.thumb-post {
    aspect-ratio:1;
    object-fit: cover; /* Do not scale the image */
    object-position: center center; /* Center the image within the element */
    width : 100%;
}

