
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #9dcf94
}

.user {
    text-align: center;
    font-size: 18px;
}

.user img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 940px;
    min-height: 60vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    position: relative;
    width: 220px;
    height: 320px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    gap: 10%;
}

.card::before {
    content: '';
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100%;
    background: #c9dd94;
    transition: 0.5s;
}

.card:hover::before {
    top: 60%;
}

.card::after {
    position: absolute;
    top: 50%;
}

.card .image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .image img {
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .image img {
    max-width: 100%;
    max-height: 155px;
    transition: 0.5s;
}

.card .content {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .content h3 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .content .price {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .content .buy {
    position: relative;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000;
    text-decoration: none;
    background: #fff;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.resize {
    height: 216px;
    object-fit: cover;
    object-position: center center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10%;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
}

.fa:hover{
    transition: 0.3s;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover {
    background: white;
    color: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover {
    background: white;
    color: #55ACEE;
}

.fa-instagram {
    background: #E1306C;
    color: white;
}

.fa-instagram:hover {
    background: white;
    color: #E1306C;
}

.fa-tiktok {
    background: #FF0000;
    color: white;
}

.fa-tiktok:hover {
    background: white;
    color: #FF0000;
}