.card {
    /* border: double 5px transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    color: #000000;
}

.card:hover{
    box-shadow: 0 0 11px #9DCF94; 
}

#profilePict {
    height: 150px;
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.itemImage {
    border-radius: 1%;
    height: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instagram {
    border:2px solid #E1306C;
}

#instagram:hover {
    box-shadow: 0 0 11px #E1306C; 
}

#tiktok{
    border: 2px solid black;
}

#tiktok:hover{
    box-shadow: 0 0 11px black; 
}



.logo a img {
    height: 50%;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}