body{
    background: linear-gradient(to right, #0367a6, #008997);  
}

.card {
    /* border: double 5px transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    color: #000000;
}

.card:hover{
    box-shadow: 0 0 11px #9DCF94; 
}

#profilePict {
    height: 150px;
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.itemImage {
    border-radius: 1%;
    height: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instagram {
    /* background-color: white;
    border:2px solid #E1306C; */
}

#instagram:hover {
    box-shadow: 0 0 11px white; 
}

#tiktok{
    /* background-color: white;
    border: 2px solid black; */
}

#tiktok:hover{
    box-shadow: 0 0 11px white; 
}



.logo a img {
    height: 50%;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-img-top{
    background: radial-gradient(white);
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
} 

.card-img-top img{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}

.card-img-top:hover img{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.5;
}
