@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9DCF94;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
}

header .navigation li a:hover {
    background: #fff;
    color: #333;
}

header .navigation li .button {
    border-radius: 5px;
    border: none;
    background-color: #C9DD94;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    margin-left: 20px;
}

header .navigation li .button:hover {
    background: #fff;
    opacity: 0.8;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    section {
        padding: 20px;
        padding-bottom: 120px;
    }

    .content {
        flex-direction: column;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
        z-index: 10;
    }

    header .navigation li a {
        font-size: 1.2em;
        margin: 5px 0;
    }

    header .navigation li .button{
        margin-left: 0;
        margin-top: 20px;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../static/images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        background: url(../static/images/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .content2 .imageBox2 {
        position: left;
        max-width: 100%;
    }
}

.content {
    position: relative;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 100%;
    display: flex;
    margin-top: 180px;
    margin-bottom: 5%;
}

.content .textBox h1 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}

.content .textBox p {
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 30px;
}

.content .textBox a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 65px;
    background: #fff;
    color: #000;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 21px;
}

.content .textBox a:hover {
    background: #000;
    color: #fff;
}

.content2 {
    position: relative;
    color: #fff;
    width: 100%;
    display: flex;
    margin-top: 12%;
    margin-bottom: 5%;
    text-align: right;
}

.content2 .textBox2 h1 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}

.content2 .textBox2 p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.content3 {
    position: relative;
    color: #fff;
    max-width: 100%;
    display: flex;
    margin-top: 12%;
    margin-bottom: 5%;
    text-align: left;
}

.content3 .textBox3 h1 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}

.content3 .textBox3 p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.content4 {
    position: relative;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 100%;
    display: flex;
    margin-top: 12%;
    margin-bottom: 10%;
}

.content4 .textBox4 h1 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}

.content4 .textBox4 p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.content4 .textBox4 a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 63px;
    background: #fff;
    color: #000;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content4 .textBox4 a:hover {
    background: #000;
    color: #fff;
}

.imageBox {
    padding: 0;
    box-sizing: border-box;
    position: relative;
    max-width: 720px;
    align-items: center;
    margin-top: 50px;
}

.imageBox2 {
    padding: 0;
    box-sizing: border-box;
    position: relative;
    max-width: 720px;
    align-items: center;
    margin-left: 100px;
}

.imageBox3 {
    padding: 0;
    box-sizing: border-box;
    position: relative;
    max-width: 720px;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
}

#Item1{
    animation: slideup 1.6s ease-in-out alternate-reverse;
}

#Item2 {
    animation: slideup 1.8s ease-in-out alternate-reverse;
}

#Twitter {
    animation: slideup 2s ease-in-out alternate-reverse;
}

#Instagram {
    animation: slideup 2.2s ease-in-out alternate-reverse;
}

#Facebook {
    animation: slideup 2.4s ease-in-out alternate-reverse;
}

@keyframes slideup {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(400px)
    }
}

#LocationMark {
    animation: upanddown 1.4s ease-in-out infinite alternate;
}

#LocationMark_2 {
    animation: upanddown 1.4s ease-in-out infinite alternate;
}

#LocationMark_3 {
    animation: upanddown 1.4s ease-in-out infinite alternate;
}

#LocationMark_4 {
    animation: upanddown 1.4s ease-in-out infinite alternate;
}

#LocationMark_5 {
    animation: upanddown 1.4s ease-in-out infinite alternate;
}

@keyframes upanddown {
    0% {
        transform: translateY(-5px);
    } 50% {
        transform: translateY(2px);
    } 100% {
        transform: translateY(-5px);
    }
}

#Left-hand {
    animation: lefthand 2s ease-in-out infinite alternate;
}

@keyframes lefthand {
    0% {
        transform: translateY(-30px);
    } 100% {
        transform: translateY(0px);
    }
}

#Right-hand, #Cursor {
    animation: righthand 1.8s ease-in-out infinite alternate;
}

@keyframes righthand {
    0% {
        transform: translateY(8px);
    } 100% {
        transform: translateX(-9px);
    }
}

#blink {
    animation: blinkCursor 1s steps(3) infinite;
}

@keyframes blinkCursor {
    0%, 75% {
        opacity: 1;
    } 76%, 100% {
        opacity: 0;
    }
}

#Faceb {
    animation: rotate 2s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Twitter2 {
    animation: rotate 2.05s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Pinterest {
    animation: rotate 2.1s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Insta {
    animation: rotate 2.15s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Dot {
    animation: rotate 2.1s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate {
    0% {
        transform: translateY(10px);
    } 50% {
        transform: translateY(0px);
    } 100% {
        transform: translateY(10px);
    }
}

.footer {
    padding: 50px 0;
    color: #fff;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
    font-weight: 400;
}

.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer ul a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 2.4em;
}

.footer ul a:hover {
    opacity: 0.8;
    color: rgb(47, 0, 255);
}

@media (max-width:767px) {
    .footer .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {
    .footer .item.text {
        margin-bottom: 0;
    }
}

.footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer .item.social {
    text-align: right;
}

@media (max-width:991px) {
    .footer .item.social {
        text-align: center;
        margin-top: 20px;
    }

    .navbar .nav-link {
        text-align: center;
    }
}

.footer .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: #fff;
    margin: 0 8px;
    color: #fff;
}

.footer .item.social>a:hover {
    background: #fff;
    color: #000;
}

.footer .copyright {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}