@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
}

.bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9DCF94;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
}

#desain {
    width: auto;
    /*ukuran dari layout web yang akan digunakan*/
    margin: 0px auto 0;
    /* overflow: hidden; */
}
 
 /*code dari carousel*/
 .carousel-item {
    height: 100%;
    width: 100%;
    background: #777;
    color: white;
    position: relative;
}

.carousel-item .imagebox{
    /* max-width: 100%;
    max-height: 100%; */
    aspect-ratio: 2.75/1;
    object-fit: cover;
    /* Do not scale the image */
    object-position: center center;
    /* Center the image within the element */
    width: 100%;
    opacity: 0.9;
}

.container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.carousel-caption {
    /* bottom: 100px; */
    font-size: 2vw;
}

.carousel-caption h5 {
    font-size: 50px;
    font-weight: 700;
}

.carousel-item {
    transition: transform 1s ease-in-out;

}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 5s;
}

section {
    position: relative;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
}

header .navigation li a:hover {
    background: #fff;
    color: #333;
}

header .navigation li .button {
    border-radius: 5px;
    border: none;
    background-color: #C9DD94;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    margin-left: 20px;
}

header .navigation li .button:hover {
    background: #fff;
    opacity: 0.8;
}

.avatar{
    aspect-ratio: 1;
    object-fit: cover;
    /* Do not scale the image */
    object-position: center center;
    /* Center the image within the element */
    width: 100%;
}

.philosophy{
    aspect-ratio: 1;
    object-fit: cover;
    /* Do not scale the image */
    object-position: left center;
    /* Center the image within the element */
    width: 100%;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    section {
        padding: 20px;
        padding-bottom: 120px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
        z-index: 10;
    }

    header .navigation li a {
        font-size: 1.2em;
        margin: 5px 0;
    }

    header .navigation li .button {
        margin-left: 0;
        margin-top: 20px;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../static/images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        background: url(../static/images/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.footer {
    padding: 20px 0;
    color: #fff;
    background: linear-gradient(to right, #C9DD94, #9DCF94, #5EBD96);
    font-weight: 400;
}

.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer ul a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 2.4em;
}

.footer ul a:hover {
    opacity: 0.8;
    color: rgb(47, 0, 255);
}

@media (max-width:767px) {
    .footer .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {
    .footer .item.text {
        margin-bottom: 0;
    }
}

.footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer .item.social {
    text-align: right;
}

@media (max-width:991px) {
    .footer .item.social {
        text-align: center;
        margin-top: 20px;
    }

    .navbar .nav-link {
        text-align: center;
    }
}

.footer .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: #fff;
    margin: 0 8px;
    color: #fff;
}

.footer .item.social>a:hover {
    background: #fff;
    color: #000;
}

.footer .copyright {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
